<h1>Batches</h1>

<p>
  Clicking on the serial number of a batch queries the
  <a href="https://registry.verra.org/">Verra Registry</a>
  and displays any data returned.
</p>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Quantity</th>
      <th>Serial Number</th>
    </tr>
  </thead>

  <tbody>
    <% list.each do |batch| %>
      <tr>
        <td><%= batch.id %></td>
        <td><%= batch.quantity %></td>
        <td>
          <% batch.serial_numbers.each do |serial_number| %>
            <a href="/verra_registry_search?serial_number=<%= serial_number %>">
              <%= serial_number %>
            </a>
            <br />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <a href="/">back</a>
</p>
