<h1>Toucan</h1>

<p>
  A very basic web interface to the
  <a href="https://toucan.earth/">Toucan Protocol</a>
  <a href="https://thegraph.com/hosted-service/subgraph/co2ken/tokenizer?selected=playground">sub-graph</a>.
</p>

<ul>
  <li>
    <a href="/projects">Projects</a>
  </li>
  <li>
    <a href="/batches">Batches</a>
  </li>
</ul>
